---
import Layout from "../Layouts/Layout.astro"

---
<Layout >
<h1 class="text-3xl font-semibold italic text-center mb-8 mt-40 md:mt-20">Bienvenidos a Mardigioia</h1>

<p class="text-2xl text-center font-sans italic mb-10 p-10">Transformamos tus eventos en <strong> experiencias inolvidables con nuestra decoración de calidad superior y presentación impecable.</strong></p>

<div class="bg-local" style="background-image: url(6.webp)"> <h6 class="text-3xl text-gray-100 font-semibold italic text-center p-10 mt-12"> <strong class="text-black">¿Por Qué</strong> Elegirnos?</h6> </div>
 <div>
    <ol class="list-disc whitespace-normal p-20">
        <li class="text-xl font-semibold italic mb-4"><strong>Personalización:</strong> Cada evento es único y reflejamos tu estilo y personalidad en cada detalle.</li>
        <li class="text-xl font-semibold italic mb-4"><strong>Experiencia:</strong> Contamos con un equipo de profesionales con años de experiencia en la industria de eventos.</li>
        <li class="text-xl font-semibold italic mb-4"><strong>Calidad:</strong> Usamos materiales y proveedores de la más alta calidad para asegurar que todo sea perfecto.</li>
        <li class="text-xl font-semibold italic mb-4"><strong>Atención al Cliente:</strong> Estamos contigo en cada paso del camino, desde la planificación hasta la ejecución, asegurando que todo salga según lo planeado.</li>
    
    </ol>
    </div>
<div class="flex items-center justify-center w-full h-20">
    <!-- Nuestro equipo creativo utiliza materiales de primera y diseña decoraciones personalizadas que reflejan tu estilo único. Cada detalle, desde los colores hasta la disposición, es cuidadosamente seleccionado para crear un ambiente elegante y acogedor. Confía en Mardigioda para hacer de tu fiesta, agasajo o evento de promoción, una celebración memorable que dejará una impresión duradera en tus invitados. -->

</div>