<footer class="bg-black dark:bg-gray-200">
    <div class="container p-6 mx-auto">
        <div class="lg:flex">
            <div class="-mx-6 lg:w-2/5">
                <div class="content-center px-6">
                    <a href="#">
                        <img class="w-40 h-30" src="/logo.png" alt="">
                    </a>
                        <div class="flex mt- px-9">
                        <a href="#"
                            class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
                            aria-label="Facebook">
                            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="">
                                <path
                                    d="M2.00195 12.002C2.00312 16.9214 5.58036 21.1101 10.439 21.881V14.892H7.90195V12.002H10.442V9.80204C10.3284 8.75958 10.6845 7.72064 11.4136 6.96698C12.1427 6.21332 13.1693 5.82306 14.215 5.90204C14.9655 5.91417 15.7141 5.98101 16.455 6.10205V8.56104H15.191C14.7558 8.50405 14.3183 8.64777 14.0017 8.95171C13.6851 9.25566 13.5237 9.68693 13.563 10.124V12.002H16.334L15.891 14.893H13.563V21.881C18.8174 21.0506 22.502 16.2518 21.9475 10.9611C21.3929 5.67041 16.7932 1.73997 11.4808 2.01722C6.16831 2.29447 2.0028 6.68235 2.00195 12.002Z">
                                </path>
                            </svg>
                        </a>
                    
                        <a href="https://www.instagram.com/mardigioia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                            class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
                            aria-label="Instagram">
                            <svg class="w-5 h-5 fill-current" viewBox="0 0 512 512" fill="#A7A7A7" xmlns="http://www.w3.org/2000/svg">
                                <path d="M505 257c0 35.8.1 71.6 0 107.5-.2 52-24.4 90.5-67.6 117.7C412.1 498 384 505 354.2 505c-65.2 0-130.3.3-195.5-.1-45.3-.3-84.3-16.3-115.2-49.9-19.1-20.8-30.5-45.3-33.8-73.6-.7-6-.8-11.9-.8-17.9 0-71.3-.1-142.6 0-213.9C9.2 97.5 33.4 59 76.6 31.8 102.1 15.9 130.3 9 160.3 9c65 0 130-.3 195 .1 45.5.3 84.6 16.4 115.5 50.2 18.9 20.7 30.2 45.2 33.4 73.2 1.3 11 .7 22 .8 32.9.1 30.6 0 61.1 0 91.6zm-459 0c0 36.7-.1 73.3 0 110 .1 25.2 9.3 46.9 26.5 64.9 23.1 24.1 51.9 35.8 85 36 65.7.4 131.3.1 197 .1 21.2 0 41.4-4.6 59.8-15.2 34.4-19.7 53.8-48.7 53.8-89.3V147c0-25-9.1-46.6-26.2-64.5-22.9-24.2-51.8-36.1-84.8-36.3-66.4-.5-132.7-.2-199.1-.2-20.7 0-40.3 4.9-58.3 15.1-34.3 19.8-53.8 48.8-53.7 89.4V257z"/>
                                <path d="M257.3 363c-64.6 0-116.4-51.6-116.3-116 .1-62.7 52.6-114.1 116.7-114 64.4 0 116.4 51.7 116.3 115.5-.1 63.2-52.4 114.5-116.7 114.5zm0-37c43.9 0 79.7-34.9 79.7-77.8 0-43.1-35.5-78.2-79.3-78.2-43.9 0-79.7 34.9-79.7 77.8 0 43.1 35.5 78.2 79.3 78.2zM363 123.6c0-14.2 10.9-25.6 24.5-25.6s24.5 11.5 24.5 25.6c0 13.9-10.9 25.3-24.3 25.4-13.6.1-24.7-11.2-24.7-25.4z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="w-full mt-6 content-center lg:mt-0 lg:flex-1">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
                    <div>
                        <a href="/Servicios"class="text-gray-300 uppercase dark:text-white">Servicios</a>
                        <a href="/Cumpleaños" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">Cumpleaños</a>
                        <a href="/Egresados" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">Egresados</a>
                        <a href="Casamientos" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">Casamientos</a>
                        <a href="Eventos" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">Eventos</a>

                    </div> 

                    <div>
                        <h3 class="text-gray-300 uppercase dark:text-white">Contact</h3>
                        <a href="https://api.whatsapp.com/send/?phone=5548996080084&text&type=phone_number&app_absent=0" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">+54 9 266 4219618</a>
                        <a href="mardigioiaevents@gmail.com" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">mardigioiaevents@gmail.com</a>
                        <a href="https://www.instagram.com/mardigioia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="block mt-2 text-sm text-gray-400 dark:text-gray-400 hover:underline">Instagram: Mardigioia</a>
                    </div>
                    <div class="w-full h-auto">
                        <iframe class="rounded-xl" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d67266.54678102591!2d-48.509884283877525!3d-27.616389424150537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95273f7b8cfcc1b9%3A0xe7f1ecd1b9ac292c!2sDuque%20Hostel!5e0!3m2!1ses-419!2sar!4v1718066638941!5m2!1ses-419!2sar" 
                        width="100% " height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <hr class="h-px my-6 bg-gray-200 border-none dark:bg-gray-700">

        <div>
            <p class="text-center text-gray-500 dark:text-gray-400">© Since 2024</p>